::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(256, 256, 256, 0.2);

  &:hover {
    background-color: rgba(256, 256, 256, 0.4);
  }
}

.artist {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: column;
    height: 50vh;
    padding: 0 32px 24px;
    background-size: cover;
    background-color: #181818;

    .header {
      flex-grow: 1;
      padding: 24px 0 0;
    }
  }

  &__name {
    font-size: 96px;
    font-weight: bold;
  }

  &__content {
    background-color: #121212;
    flex-grow: 1;
  }

  &__albums {
    .albums__header {
      font-size: 24px;
      font-weight: 700;
      padding: 24px 32px 16px;
    }

    .albums__cards {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      padding: 0 32px;
    }

    .album__card {
      cursor: pointer;
      background: #181818;
      padding: 16px;
      user-select: none;
      border-radius: 5px;

      &:hover {
        background: #2b2b2b;
      }

      img {
        height: 200px;
        width: 200px;
        margin-bottom: 16px;
        border-radius: 5px;
      }
    }

    .album__card__name {
      display: flex;
      flex-direction: column;
      span {
        margin-bottom: 4px;
        &:first-of-type {
          font-size: 16px;
          font-weight: 500;
        }
        &:last-of-type {
          font-size: 14px;
          color: #b3b3b3;
        }
      }
    }
  }
}
